{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

<div class="text-left">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">

                        <h5 class="card-title text-center">Se connecter</h5>
                        <form method="post">
                            {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-label-group p-2">
                                <label for="inputEmail" class="sr-only">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                                    placeholder="Email" required autofocus>
                            </div>

                            <div class="form-label-group p-2">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                    placeholder="Password" required>
                            </div>

                            <div class="custom-control custom-checkbox mb-3 text-center ">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Se souvenir du mot de passe</label>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="btn btn-lg btn-success btn-block" type "submit">Se connecter</button>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}


{# onclick="viewPW()

function viewPW() {
var a = document.getElementById('mdp');
if (a.type === 'password') {
a.type = 'text';
} else {
a.type = 'password';
}
} #}
{% endblock %}