{% extends 'base.html.twig' %}

{% block title %}Edit Organisation{% endblock %}

{% block body %}


        <h1>Edit Organisation</h1>



    {{ include('lbr/organisation/_form.html.twig', {'button_label': 'Update'}) }}

    <button type="button" class="btn btn-primary"><a href="{{ path('lbr_organisation_index') }}"><span class="text-dark"><strong>Retour
                à la liste</strong></a></button>

    {{ include('lbr/organisation/_delete_form.html.twig') }}
{% endblock %}
