{% extends 'base.html.twig' %}

{% block title %}Edit Organisation{% endblock %}

{% block body %}


        <h1>Edit Organisation</h1>



    {{ include('lbr/organisation/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <button type="button" class="btn btn-primary my-2"><a href="{{ path('lbr_organisation_index') }}"><span class="text-white">Retour
                à la liste</a></button>

    {{ include('lbr/organisation/_delete_form.html.twig') }}
{% endblock %}
