{% extends 'base.html.twig' %}

{% block title %}New Organisation{% endblock %}

{% block body %}
    <h1>Create new Organisation</h1>

    {{ include('lbr/organisation/_form.html.twig') }}

    <a href="{{ path('lbr_organisation_index') }}">back to list</a>
{% endblock %}
