{% extends 'base.html.twig' %}

{% block title %}New Organisation{% endblock %}

{% block body %}


        <h1>Creat new organisation</h1>


    {{ include('lbr/organisation/_form.html.twig') }}

<a href="{{ path('lbr_organisation_index') }}"><button type="button" class="btn btn-secondary my-2"><span class="text-dark"><span
                class="text-white">Retour à la liste</span></button></a>
{% endblock %}
