<form method="post" action="{{ path('lbr_evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Êtes vous sûre de vouloir supprimer cet évenement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button type="btn" class="btn btn-danger my-2">Effacer</button>
</form>
