{{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="checkbox" name="presse_send" id=""> presse
    <input type="checkbox" name="newsletter_send" id=""> newsletter
    <button type="btn" class="btn btn-success">{{ button_label|default('Savegarder') }}</button>
{{ form_end(form) }}
