<!DOCTYPE html>
<html class="h-100" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Lyon Bio Ressource{% endblock %}</title>
    {% block stylesheets %}
    <!--     Bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link href="{{ asset('public/dist/css/styles.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
</head>

<body class="h-100"> 
    <header class="navbar pt-0 pb-0 navbar-dark bg-dark">
        <nav>
            <div class="row">
            {{ include('_partials/_header.php') }}
            </div>
        </nav>
    </header>           

    <main class="container-fluid h-100">
        <div class="row">
			<nav class="col-12 col-md-6 col-lg-2">
                {{ include('_partials/_sidebar.php') }}
            </nav>
            <div class="col-12 col-md-6 col-lg-10" >
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
</div>

    <footer class="container-fluid bg-dark px-0">
        {{ include('_partials/_footer.php') }}
	</footer>
s
{% block javascripts %}
        	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
{% endblock %}
</body>

</html> 