<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Lyon Bio Ressource{% endblock %}</title>

        {% block stylesheets %}

            <!-- Data Table -->
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
            <!--     Bootstrap css -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
            <!-- CSS -->
            <link href="{{ asset('dist/css/styles.css') }}" type="text/css" rel="stylesheet">
                
        {% endblock %}

</head>

<body>

            {{ include('_partials/_header.php') }}

<div class="container-fluid offset-top">
    <div class="row">
    
            {{ include('_partials/_sidebar.php') }}

        <main role="main" class="col-8 col-md-9 ml-sm-auto col-lg-10 px-4">

            {% block body %}{% endblock %}

        </main>

    </div>
</div>
        {{ include('_partials/_footer.php') }}

        {% block javascripts %}{% endblock %}
