<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lyon Bio Ressource{% endblock %}</title>
    {% block stylesheets %}
    <!--     Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <!-- CSS -->
    <link href="{{ asset('public/dist/css/styles.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
</head>

<body>

            {{ include('_partials/_header.php') }}

<div class="containeur-fluid">
    <div class="row pt-5">


            {{ include('_partials/_sidebar.php') }}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                    {% block body %}{% endblock %}
</main>

        {{ include('_partials/_footer.php') }}

    </div>
</div>
        {% block javascripts %}{% endblock %}
