            {{ include('_partials/_header.php') }}

<div class="containeur-fluid">
    <div class="row pt-5">


            {{ include('_partials/_sidebar.php') }}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                    {% block body %}{% endblock %}
</main>

        {{ include('_partials/_footer.php') }}
        
    </div>
</div>
        {% block javascripts %}{% endblock %}
