{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1>Créer une Catégorie</h1>

    {{ include('lbr/categorie/_form.html.twig') }}

    <a href="{{ path('lbr_categorie_index') }}"><button type="button" class="btn btn-secondary"><span class="text-dark"><span
                    class="text-white">Retour à la liste</span></button></a>
{% endblock %}
